:root{
    --success: green; 
    --warning: orange;
    --error: red;
    --success-light: rgba(0, 128, 0, 0.5);
    --warning-light: rgba(218, 159, 30, 0.5);
    --error-light: rgba(244, 37, 14, 0.5);
}
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: #ecf0f1; 
}
.control button{
    padding: 8px 16px; 
    font-size: 28px; 
    border: none;
    outline: none; 
    color: white; 
    border-radius: 4px; 
    margin: 10px; 
}
.success{
    background: var(--success); 
}
.warning{
    background: var(--warning); 
}
.error{
    background: var(--error); 
}
#toasts{
    position: fixed; 
    top: 10px; 
    right: 10px; 

}
.toast{
    padding: 20px; 
    border: none; 
    border-radius: 6px; 
    color: white; 
    font-size: 26px; 
    /* overflow: hidden; */
    animation: slide_show 2s ease forwards;
    margin-bottom: 10px; 
   
}
.toast i{
    margin: 0 10px; 
}
.toast .countdown{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px; 
    width: 100%; 
    animation: countdown 3s linear forwards;

}
.toast.success{
    background: var(--success-light); 
    border-left: 6px solid var(--success);
}
.toast.warning{
    background: var(--warning-light); 
    border-left: 6px solid var(--warning);
}
.toast.error{
    background: var(--error-light); 
    border-left: 6px solid var(--error);
}
.toast.success .countdown{
    background: var(--success); 
}
.toast.warning .countdown{
    background: var(--warning); 
}
.toast.error .countdown{
    background: var(--error); 
}
@keyframes countdown{
    0%{
        width: 100%; 
    }
    100%{
        width: 0%; 
    }
}
@keyframes slide_show{
    0%{
        transform: translateX(100%);
    }
    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0%); 
    }
    100%{
        transform: translateX(-10%);
    }
}
@keyframes slide_hide{
    0%{
        transform: translateX(-10%);
    }
    25%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-10%); 
    }
    100%{
        transform: translateX(200%);
    }
}
