*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black;  */
}
body{
    font-family: sans-serif; 
    background-color: #f4f4f4;
}
section{
    height: 100vh;
}
#home{
    background: linear-gradient(to right, #4daf54, #3d8880); 
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-self: center;
    color: white;

}
#home h1{
    font-size: 50px; 
    margin-bottom: 20px; 
    margin-left: 50px; 
  

    
}
#home .description{
    font-size: 20px; 
    margin-bottom: 30px;
    margin-left: 50px; 
    
}
#about{
    display: flex; 
    justify-content: space-around;
    align-self: center;
    align-items: center; 

}
.box{
    background: #24262B; 
    padding: 20px; 
    color: white; 
    margin: 40px 20px; 
    height: 200px; 
    border-radius: 10px;
}
.box .title{
    font-size: 30px; 
    margin-bottom: 20px; 
}
#team{
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%); 
    display: flex; 
    justify-content: center;
    align-items: center;

}
.member{
    width: 270px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 270px;
    background: white; 
    padding: 20px; 
    margin: 20px;
    border-radius: 10px;  
}
.member .name{
    color: #017c2c; 
    font-weight: bold; 
    font-size: 20px;
    margin-bottom: 10px;

}
.left-to-right{
    transform: translateX(-200%);
    transition: 1s;
}
.left-to-right.start{
    transform: translateX(0);
}
.right-to-left{
    transform: translateX(200%);
    transition: 1s;
}
.right-to-left.start{
    transform: translateX(0%);
}
.zoom{
    transform: scale(0);
    transition: 1s;
}
.zoom.start{
    transform: scale(1);
}
